label {
  display: block;
  margin: 5px;
}
.user-form {
  font-weight: bold;
  background: white;
  padding: 30px;
  border-radius: 10px;
}
.button__form {
  margin-top: 10px;
  min-width: 120px;
  height: 30px;
  color: white;
  background-color: rgb(110, 15, 165);
  border-radius: 5px;
}
